<div class="row m-0">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-8">
                <img style="object-fit: cover;" class="log_img" src='../../../assets/Group 98.png' alt='image'>
            </div>
            <div class="col-xl-4 d-flex flex-column justify-content-center align-items-center">
                <div class="align-items-center d-flex flex-column">
                    <img src="../../../assets/SvgjsG1009.png" alt="top" class="fimg">
                    <h2 class="digtal">DIGITAL IMPULSUION</h2>
                    <p class="subHeading">Impulse - leverage - Unclock</p>
                    <h5 class="fw-bold mt-5" style="color: #E8574B;">Smart Building Metaplatform </h5>
                </div>
                <div class="d-flex justify-content-center">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>