.digital {
    color: #3B3B6B;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.subHeading {
    color: #D41317;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    margin-top: -15px;
 
}

.head-1 {
    text-align: center;
}
.head-3{
    text-align: center;
}
.head-4{
    text-align: center;
}
.head-5{
    text-align: center;
}
.head-6{
    text-align: center;
}
