<div class="row m-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-0 py-3">
        <div class="col-xl-12 mx-auto">
            <div class="row m-0">
                <div class="col-xl-2 head-1 justify-content-center">
                    <img class="" src='../../../assets/header.png' alt='image'>
                    <p class="digital">DIGITAL IMPULSION</p>
                    <p class="subHeading">Impulse - leverage - Unclock</p>
                </div>
                <div class="col-xl-2 d-flex align-items-center">
                    <img class="" src='../../../assets/Vector.png' alt='image'><span
                        style="color: #D41317; margin-left: 5px;">SMART
                        BUILDING METAPLATFORM</span>
                </div>
                <div class="col-xl-1 d-flex align-items-center flex-column justify-content-center">
                    <img class="" src='../../../assets/icons8-dashboard-layout-24.png' alt='image'>
                    <p class="m-0">DASHBOARD</p>
                </div>
                <div class="col-xl-1 d-flex align-items-center flex-column justify-content-center">
                    <img class="" src='../../../assets/Vector (1).png' alt='image'>
                    <p class="m-0">COSTOMER</p>
                </div>
                <div class="col-xl-1 d-flex align-items-center flex-column justify-content-center">
                    <img class="" src='../../../assets/ic_baseline-apartment.png' alt='image'>
                    <p class="m-0">BUILDING</p>
                </div>
                <div class="col-xl-1 d-flex align-items-center flex-column justify-content-center">
                    <img class="" src='../../../assets/Vector (2).png' alt='image'>
                    <p class="m-0">USER</p>
                </div>
                <div class="col-xl-2 d-flex align-items-center">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-xl-2 d-flex align-items-center gap-3">
                    <img class="" src='../../../assets/Group 48.png' alt='image'>
                    <img class="" src='../../../assets/Ellipse 17.png' alt='image'>
                    <div>
                        <p class="m-0" style="color: #D41317;">Tylae</p><span>Admin</span>
                    </div>
                    <img class="" src='../../../assets/Vector (3).png' alt='image'>
                </div>
            </div>
        </div>
    </nav>
</div>