<app-header></app-header>
<div class="home" style="width: 100%; height: 40%;">home</div>
<div class="container">
    <div class="row" style="gap: 40px;">
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select>
                    <mat-option *ngFor="let country of countrys; trackBy: trackByFn" [value]="country.value">
                        {{country.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>ZipCode</mat-label>
                <mat-select>
                    <mat-option *ngFor="let country of countrys; trackBy: trackByFn" [value]="country.value">
                        {{country.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select>
                    <mat-option *ngFor="let country of countrys; trackBy: trackByFn" [value]="country.value">
                        {{country.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field>
                <mat-label>Client</mat-label>
                <mat-select>
                    <mat-option *ngFor="let country of countrys; trackBy: trackByFn" [value]="country.value">
                        {{country.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <button class="button-board">Search</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-header">
            <img src="../../../../assets/Rectangle 327.png" alt="Building">
        </div>
        <div class="card-body">
            <div class="avatar">
                <img src="../../../../assets/Rectangle 319.png" alt="Avatar">
            </div>
            <div class="info">
                <h2>Building A</h2>
                <p>Street: 55 Route De Lyon</p>
                <p>City: Ivry-Sur-Seine</p>
                <p>Area: Île-De-France</p>
                <p>Zip Code: 94200</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../assets/Rectangle 327.png" alt="Building">
        </div>
        <div class="card-body">
            <div class="avatar">
                <img src="../../../../assets/Rectangle 319.png" alt="Avatar">
            </div>
            <div class="info">
                <h2>Building A</h2>
                <p>Street: 55 Route De Lyon</p>
                <p>City: Ivry-Sur-Seine</p>
                <p>Area: Île-De-France</p>
                <p>Zip Code: 94200</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../assets/Rectangle 327.png" alt="Building">
        </div>
        <div class="card-body">
            <div class="avatar">
                <img src="../../../../assets/Rectangle 319.png" alt="Avatar">
            </div>
            <div class="info">
                <h2>Building A</h2>
                <p>Street: 55 Route De Lyon</p>
                <p>City: Ivry-Sur-Seine</p>
                <p>Area: Île-De-France</p>
                <p>Zip Code: 94200</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../assets/Rectangle 327.png" alt="Building">
        </div>
        <div class="card-body">
            <div class="avatar">
                <img src="../../../../assets/Rectangle 319.png" alt="Avatar">
            </div>
            <div class="info">
                <h2>Building A</h2>
                <p>Street: 55 Route De Lyon</p>
                <p>City: Ivry-Sur-Seine</p>
                <p>Area: Île-De-France</p>
                <p>Zip Code: 94200</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <img src="../../../../assets/Rectangle 327.png" alt="Building">
        </div>
        <div class="card-body">
            <div class="avatar">
                <img src="../../../../assets/Rectangle 319.png" alt="Avatar">
            </div>
            <div class="info">
                <h2>Building A</h2>
                <p>Street: 55 Route De Lyon</p>
                <p>City: Ivry-Sur-Seine</p>
                <p>Area: Île-De-France</p>
                <p>Zip Code: 94200</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../assets/Rectangle 327.png" alt="Building">
        </div>
        <div class="card-body">
            <div class="avatar">
                <img src="../../../../assets/Rectangle 319.png" alt="Avatar">
            </div>
            <div class="info">
                <h2>Building A</h2>
                <p>Street: 55 Route De Lyon</p>
                <p>City: Ivry-Sur-Seine</p>
                <p>Area: Île-De-France</p>
                <p>Zip Code: 94200</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../assets/Rectangle 327.png" alt="Building">
        </div>
        <div class="card-body">
            <div class="avatar">
                <img src="../../../../assets/Rectangle 319.png" alt="Avatar">
            </div>
            <div class="info">
                <h2>Building A</h2>
                <p>Street: 55 Route De Lyon</p>
                <p>City: Ivry-Sur-Seine</p>
                <p>Area: Île-De-France</p>
                <p>Zip Code: 94200</p>
            </div>
        </div>
    </div>
</div>