<div>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <mat-form-field>
            <input type="email" matInput placeholder="email" formControlName="email">
            <mat-error *ngIf="formGroup.get('email')?.invalid && (formGroup.get('email')?.touched || submitted)">
                Please provide a valid email.
            </mat-error>
        </mat-form-field>
        <div class="text-center mt-5">
            <button type="submit" mat-button class="orange-button button">submit</button>
        </div>
    </form>
</div>