mat-form-field {
    width: 350px;
    height: 70px;
    color: #f1f0f0;
    margin-top: 15px;
    
  }

  .button {
    background: linear-gradient(to right, #F29531 0%, #E8574B 100%);
    width: 60%;
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: white !important;
    border: none;
    font-weight: bold;
  }